@import 'vars.scss';

.wizard-plugin {
	display: flex;
	justify-content: space-between;
	padding: 10px 0;
	border-top: 1px solid #eee;
	&:first-child {
		border-top: none;
	}
	&__label {
		width: 70%;
	}
	&__actions {
		width: 30%;
		text-align: center;
	}
	&__link {
		background: none;
		border: none;
		width: 80%;
		padding: 5px 20px;
		font-weight: normal;
		color: $primaryColor;
		cursor: pointer;
		border: 1px solid $primaryColor;
		border-radius: 5px;
		position: relative;
		&:hover {
			color: $primaryColorAlt;
			border-color: $primaryColorAlt;
		}
		&.in-progress {
			.text {
				opacity: 0;
			}
			.tm-wizard-loader__spinner {
				opacity: 1;
			}
		}
	}
}

.tm-wizard-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 18px;
	height: 18px;
	margin: -9px 0 0 -9px;
	&__spinner {
		display: block;
		width: 100%;
		height: 100%;
		animation: spin .7s linear infinite;
		border: 2px solid $primaryColor;
		border-top: 2px solid #fff;
		border-radius: 50%;
		transition: opacity 300ms linear;
		opacity: 0;
		box-sizing: border-box;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}