$primaryColor:      #298ffc;
$primaryColorAlt:   #206ff4;
$defaultColor:      #495159;
$defaultColorAlt:   #393f45;
$successColor:      #48c569;
$successColorAlt:   #3ba956;
$successColorLight: #ecf9f0;
$dangerColor:       #e54343;
$dangerColorAlt:    #c73434;
$warningColor:      #faa730;
$warningColorAlt:   #ee8425;
$inputColor:        #f1f1f1;
$bordersColor:      #e5e5e5;
$textColor:         #96989a;
$textColorAlt:      #23282d;
$bodyColor:         #fff;
$innerBoxColor:     #f1f1f1;

$fontSize:          13px;

.tm-wizard {
	background: $bodyColor;
	color: $textColor;
	padding: 40px 50px;
	border: 1px solid $bordersColor;
	font-size: $fontSize;
	line-height: 19px;
	max-width: 1100px;

	&-msg {
		padding: 15px 0 25px;
	}

	&-server {
		padding: 10px 0 25px;
		margin: 0;
		&__item {
			font-size: 14px;
			color: $primaryColor;
			padding: 0 0 8px;
			margin: 0;
		}
	}

	h2 {
		margin: 0 0 30px;
		padding: 0 0 15px;
		font-size: 30px;
		line-height: 1em;
		color: $textColorAlt;
		border-bottom: 1px solid $bordersColor;
	}
	h4 {
		font-size: 20px;
		line-height: 27px;
		padding: 0 0 10px;
		margin: 0;
		color: $textColorAlt;
	}
	.btn {
		display: inline-block;
		padding: 15px 30px;
		font-size: 12px;
		line-height: 20px;
		text-transform: uppercase;
		font-weight: bold;
		border: none;
		outline: none;
		background: $defaultColor;
		color: #fff;
		cursor: pointer;
		vertical-align: top;
		border-radius: 5px;
		transition: all 200ms linear;
		text-decoration: none;
		box-shadow: 0 5px 15px rgba( 0,0,0,.18 );
		&:focus,
		&:active {
			box-shadow: none;
			color: #fff;
		}
		&:hover {
			background: $defaultColorAlt;
			color: #fff;
			box-shadow: 0 1px 3px rgba( 0,0,0,.18 );
		}
		&.btn-primary {
			background: $primaryColor;
			&.disabled {
				background: lighten( $primaryColor, 10% );
				cursor: default;
			}
			&:hover {
				background: $primaryColorAlt;
			}
		}
		&.btn-success {
			background: $successColor;
			&:hover {
				background: $successColorAlt;
			}
		}
		&.btn-danger {
			background: $dangerColor;
			&:hover {
				background: $dangerColorAlt;
			}
		}
		&.btn-warning {
			background: $warningColor;
			&:hover {
				background: $warningColorAlt;
			}
		}
		.dashicons,
		.dashicons-before::before {
			vertical-align: bottom;
			margin: 0 0 0 -5px;
		}
		&.in-progress {
			.text {
				opacity: 0;
			}
			.tm-wizard-loader__spinner {
				opacity: 1;
			}
		}
	}
}

.tm-wizard-loader {
	.btn & {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 20px;
		height: 20px;
		margin: -13px 0 0 -13px;
	}
	.tm-wizard-item & {
		position: absolute;
		top: 15px;
		left: 15px;
		width: 14px;
		height: 14px;
	}
	&__spinner {
		display: block;
		width: 100%;
		height: 100%;
		animation: spin .7s linear infinite;
		border: 3px solid #FFF;
		border-top: 3px solid #3498DB;
		border-radius: 50%;
		transition: opacity 300ms linear;
		opacity: 0;
		.tm-wizard-item & {
			opacity: 1;
			border: 3px solid $primaryColor;
			border-top: 3px solid #fff;
		}
	}
}

.tm-wizard-plugins {
	background: $innerBoxColor;
	padding: 2em;
	border-radius: 5px;
}

.tm-wizard-item {
	padding: 1em 2em 1em 3em;
	position: relative;
	background: $bodyColor;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.1);
	border-radius: 5px;
	margin: 0.66667em;
	position: relative;
	&__label {
		display: inline-block;
		vertical-align: top;
	}
	> .dashicons {
		position: absolute;
		left: 15px;
		top: 15px;
		color: $primaryColor;
	}
}

.tm-wizard-install-results {
	&__trigger {
		position: absolute;
		right: 0;
		top: 1em;
		padding: 0 2em 0 0;
		color: $textColorAlt;
		cursor: pointer;
		.dashicons {
			font-size: 1.4em;
			margin: -1px 0 0 0;
		}
		&.is-active + ul {
			display: block;
		}
	}
	ul {
		font-size: 0.8em;
		padding: 10px 0;
		display: none;
		li {
			padding: 0 0 5px;
			margin: 0;
			list-style: circle;
		}
	}
}

.tm-wizard-installed {
	margin: 0 0.66667em;
	color: $textColorAlt;
}

.tm-wizard-popup {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 99999;
	background: rgba(0,0,0,.6);
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 1;
	&.popup-hidden {
		top: auto;
		height: 0;
		opacity: 0;
		transition: opacity 150ms linear;
		.tm-wizard-popup__content {
			opacity: 0;
			transform: translateY(30px);
		}
	}
	h3 {
		padding: 15px 30px;
		margin: -40px -40px 20px;
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
	&__content {
		background: #fff;
		display: inline-block;
		padding: 40px;
		width: 900px;
		max-width: 90%;
		box-shadow: 0px 5px 21px rgba(0,0,0,0.3);
		border-radius: 5px;
		text-align: center;
		box-sizing: border-box;
		opacity: 1;
		transform: translateY(0);
		transition: all 300ms linear 200ms;
		position: relative
		h3 {
			font-size: 1.5em;
			margin-top: 0;
			text-transform: uppercase;
		}
	}
	&__close {
		position: absolute;
		color: rgba(0,0,0,.2);
		right: 14px;
		top: 14px;
		font-size: 24px;
		padding: 0;
		border: 0;
		background: none;
		cursor: pointer;
		outline: none;
		transition: all 200ms linear;
		&:hover {
			color: rgba(0,0,0,.5);
		}
		.dashicons {
			font-size: 24px;
		}
	}
	&__select {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		padding: 1.5em 0 0;
	}
	&__item {
		display: flex;
		width: 50%;
		align-items: center;
		text-align: left;
		padding: 20px;
		position: relative;
		margin: 0 -1px;
		input {
			display: block;
			margin-right: 10px;
			position: relative;
			z-index: 2;
			&:checked {
				+ .tm-wizard-popup__item-mask {
					opacity: 1;
				}
			}
		}
		&:hover {
			.tm-wizard-popup__item-mask {
				opacity: 1;
			}
		}
	}
	&__warning {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
		transition: all 200ms linear;
		color: $dangerColor;
		padding: 5px 0;
	}
	&__item-mask {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		background: #f3f3f3;
		border: 1px solid #e1e1e1;
		z-index: 1;
		opacity: 0;
		transition: opacity 300ms linear;
	}
	&__item-label {
		display: block;
		margin: 0 0 5px;
		position: relative;
		z-index: 2;
	}
	&__action {
		padding: 1.5em 0 0;
		.btn {
			position: relative;
		}
	}
}

.tm-wizard-progress {
	height: 1.6em;
	border-radius: 0.75em;
	background: $innerBoxColor;
	position: relative;
	overflow: hidden;
	min-width: 10em;
	margin: 0 0 1.5em;
	&__bar {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		background: $primaryColor;
		span,
		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			background-image:
			   -webkit-gradient(linear, 0 0, 100% 100%,
			      color-stop(.25, rgba(255, 255, 255, .05)),
			      color-stop(.25, transparent), color-stop(.5, transparent),
			      color-stop(.5, rgba(255, 255, 255, .05)),
			      color-stop(.75, rgba(255, 255, 255, .05)),
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image:
				-moz-linear-gradient(
				  -45deg,
			      rgba(255, 255, 255, .05) 25%,
			      transparent 25%,
			      transparent 50%,
			      rgba(255, 255, 255, .05) 50%,
			      rgba(255, 255, 255, .05) 75%,
			      transparent 75%,
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2.5s linear infinite;
			overflow: hidden;
		}
	}
	&__label {
		content: attr( data-width );
		color: #fff;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		bottom: 0;
		line-height: 1.6em;
		text-align: center;
	}
}

@-webkit-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 50px 50px; }
}
@-moz-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 50px 50px; }
}
@-ms-keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 50px 50px; }
}
@keyframes move {
	0% { background-position: 0 0; }
	100% { background-position: 50px 50px; }
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
